*
!Makefile
!*/
!*.*
.vscode/*
Phase2/bin/
Phase2/build/
Phase3/bin/
Phase3/build/
sandbox/
Phase4/frontend/build/  
Phase4/frontend/bin/
Phase4/backend/src/__pycache__/
Phase4/backend/src/Transactions/__pycache__/
Phase4/backend/src/Users/__pycache__/
Phase5/backend/src/__pycache__/*
Phase5/backend/src/Transactions/__pycache__/*
Phase5/backend/src/Users/__pycache__/*
*_FILE.txt